 .add-product {
     float: right;
     margin-top: -43px;
 }
 
 .table-image {
     width: 70px;
     height: 70px;
     border-radius: 50%;
 }
 
 .add-product {
     float: right;
     margin-top: -43px;
 }
 
 .image-preview {
     border: 2px solid black;
     width: 37%;
     height: 206px;
     border-radius: 3px;
 }
 
 .image-preview img {
     width: 264px;
     height: 201px;
     border: 1px solid #fffeef border-radious: 3px;
 }